@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.feature {
  background: $bg_clr;
  height: 100%;
  padding-bottom: 48px;

  &_ttl {
    margin-bottom: 16px;
  }

  &_desc {
    margin-bottom: 64px;
  }

  &_table {
    margin-bottom: 24px;

    background: $base_clr;
    width: 100%;
    border-radius: 12px;

    overflow: hidden;
    border-collapse: separate;
    border: 3px solid $bdr_clr;

    font-size: 18px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.8px;

    @media (max-width: responsive-width(sp)) {
      margin-bottom: 16px;
      font-size: 12px;
    }

    thead {
      background: $sub_clr;
      color: $base_clr;

      tr {
        height: 48px;
      }

      th {
        line-height: 48px;
        text-align: center;

        &:not(:last-child) {
          border-right: 3px solid $bdr_clr;
        }

        &:nth-child(3) {
          background: #fc5c6c;
        }
      }

      @media (max-width: responsive-width(sp)) {
        th {
          &:not(:first-child) {
            width: 72px;
          }
        }
      }
    }

    tbody {
      tr {
        height: 96px;

        &:not(:first-child) {
          td {
            border-top: 3px solid $bdr_clr;
          }
        }

        &:nth-child(2n) {
          background: #f4f5f6;
        }
      }

      td {
        position: relative;
        vertical-align: middle;

        &:not(:last-child) {
          border-right: 3px solid $bdr_clr;
        }
      }
    }
  }

  &_none {
    @media (max-width: responsive-width(sp)) {
      display: none;
    }
  }

  &_tag {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;

    font-size: 14px;
    color: $acnt_clr;

    &_acnt {
      color: $acnt_sub_clr;
    }
  }

  &_icon {
    font-size: 32px !important;

    @media (max-width: responsive-width(sp)) {
      font-size: 24px !important;
    }

    &_enable {
      color: #fc5c6c;
    }

    &_limited {
      color: $promo_clr;
    }

    &_disable {
      color: $sub_clr;
    }

    &_desc {
      margin-top: 8px;

      display: block;

      font-size: 16px;
      color: $sub_clr;
      font-weight: normal;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }
  }

  &_announce {
    display: block;

    font-size: 14px;
    color: $sub_clr;
    text-align: right;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }

    &_desc {
      color: $add_clr;
      font-weight: bold;
      border-bottom: 1px solid $add_clr;
    }
  }
}
