// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.analytics {
  position: relative;
  width: 640px;
  height: 320px;
  background: $bg_clr;
  padding: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  color: $acnt_sub_clr;

  overflow: hidden;

  @media (max-width: responsive-width(sp)) {
    width: calc(100vw - 24px);
    height: 240px;
    font-size: 12px;
    gap: 16px;
    padding: 24px;
  }

  &_back {
    color: $acnt_sub_clr;

    position: absolute;
    z-index: 1;
    top: 24px;
    left: 24px;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      top: 16px;
      left: 16px;
      font-size: 12px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &_header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &_ttl {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $main_clr;
    line-height: 1.4;

    @media (max-width: responsive-width(sp)) {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  &_btn {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 40%;

    padding: 16px 32px;
    background: $acnt_sub_clr;
    border-radius: 26px;
    border: 1px solid $acnt_sub_clr;

    color: $base_clr;
    text-align: center;

    transition: all 0.4s;

    &:hover {
      background: $base_clr;
      color: $acnt_sub_clr;
      border-color: $acnt_sub_clr;
    }

    @media (max-width: responsive-width(sp)) {
      width: 66%;
      padding: 12px;
      font-size: 12px;
    }
  }

  &_none {
    color: $sub_clr;
    position: static;
    z-index: 1;
  }

  &_bg {
    position: absolute;
    width: 480px;
    top: 0;
    left: -48px;
    opacity: 0.6;

    @media (max-width: responsive-width(sp)) {
      width: 320px;
      top: 8px;
      left: -32px;
    }
  }

  &_chart {
    position: absolute;
    width: 560px;
    top: -72px;
    right: -56px;
    opacity: 0.6;

    @media (max-width: responsive-width(sp)) {
      width: 400px;
      top: -24px;
      right: -42px;
    }
  }
}
