// サイト共有の初期設定
@import "../../../../../styles/config";
@import "../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;

  @media (max-width: responsive-width(sp)) {
    gap: 8px;
  }

  &_ttl {
    color: $icn_clr;
    font-size: 32px;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 20px;
    }
  }

  &_desc {
    color: $sub_clr;
    font-size: 14px;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }
}

.link {
  font-size: 14px;
  color: $link_clr;

  @media (max-width: responsive-width(sp)) {
    font-size: 12px;
  }
}

.input {
  background: $base_clr;
  border: 1px solid $bdr_clr;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 8px 16px;

  @media (max-width: responsive-width(sp)) {
    height: 40px;
    padding: 4px 12px;
  }

  &_error {
    border: 1px solid $remove_clr;
  }

  &::placeholder {
    color: $sub_clr;
    opacity: 0.6;
  }
}

.error {
  display: block;
  white-space: pre;
  color: $remove_clr;
  font-size: 12px;
  margin-top: 8px;

  @media (max-width: responsive-width(sp)) {
    margin-top: 4px;
    font-size: 10px;
  }
}
