// サイト共有の初期設定
@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.open {
  display: block;
}

.close {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: $innerHeight;
  background: $main_clr;
  opacity: 0.8;

  cursor: pointer;
}

.help {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  background: $base_clr;
  width: auto-clamp(280px, 320px);
  border-radius: 16px;

  color: $main_clr;

  padding: 32px;

  @media (max-width: responsive-width(sp)) {
    width: 240px;
    font-size: 14px;
  }

  &_open {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 99;

    @media (max-width: responsive-width(sp)) {
      width: 100%;
      padding: 0 12px;
    }

    &_inner {
      width: auto-clamp(560px, 720px);
      height: 48px;
      margin: 0 auto;
      border-radius: 8px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      border: 1px solid $acnt_clr;
      color: $acnt_clr;
      background: $acnt_bg_clr;

      @media (max-width: responsive-width(sp)) {
        width: 100%;
        padding: 0 12px;
        height: 40px;
        font-size: 14px;
      }
    }

    &_icon {
      font-size: 20px !important;
      color: $acnt_clr;

      @media (max-width: responsive-width(sp)) {
        font-size: 16px !important;
      }
    }
  }

  &_close {
    background: $base_clr;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -8px;

    display: flex;
    justify-content: center;
    align-items: center;

    &_icon {
      color: $sub_clr;
      font-size: 36px !important;

      @media (max-width: responsive-width(sp)) {
        font-size: 32px !important;
      }
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px 0 0;
  }

  &_wrap {
    display: flex;
    gap: 16px;
  }

  &_text {
    line-height: 24px;
    color: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      line-height: 18px;
    }
  }

  &_icon {
    color: $acnt_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 18px !important;
    }
    &_none {
      color: $sub_clr;
    }
  }
}
