@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.feature {
  background: $bg_clr;
  height: 100%;
  padding-bottom: 120px;

  @media (max-width: responsive-width(sp)) {
    padding-bottom: 72px;
  }

  &_ttl {
    margin-bottom: 64px;

    &_sub {
      margin-bottom: 16px;
    }
  }

  &_desc {
    text-align: center;
    color: $sub_clr;
    margin-bottom: 64px;
  }

  &_table {
    margin-bottom: 24px;

    background: $base_clr;
    width: 100%;
    border-radius: 12px;

    overflow: hidden;
    border-collapse: separate;
    border: 3px solid $bdr_clr;

    font-size: 18px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.8px;

    @media (max-width: responsive-width(sp)) {
      margin-bottom: 16px;
      font-size: 12px;
    }

    thead {
      background: $acnt_clr;
      color: $base_clr;

      tr {
        height: 48px;
      }

      th {
        line-height: 48px;
        text-align: center;

        &:not(:last-child) {
          border-right: 3px solid $bdr_clr;
        }
      }
    }

    tbody {
      tr {
        height: 96px;

        &:not(:first-child) {
          td {
            border-top: 3px solid $bdr_clr;
          }
        }

        &:nth-child(2n) {
          background: #edf8ee;
        }
      }

      td {
        vertical-align: middle;

        &:not(:last-child) {
          border-right: 3px solid $bdr_clr;
        }
      }
    }

    &_price {
      display: block;

      font-size: 24px;

      @media (max-width: responsive-width(sp)) {
        font-size: 20px;
      }

      &:after {
        content: "(税込)/月〜";
        font-size: 16px;

        @media (max-width: responsive-width(sp)) {
          font-size: 12px;
        }
      }

      &_total {
        margin-top: 8px;

        display: block;

        font-size: 16px;
        color: $sub_clr;
        font-weight: normal;

        @media (max-width: responsive-width(sp)) {
          font-size: 12px;
        }
      }
    }
  }

  &_announce {
    display: block;

    font-size: 14px;
    color: $sub_clr;
    text-align: right;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }

  &_icon {
    font-size: 32px !important;

    @media (max-width: responsive-width(sp)) {
      font-size: 24px !important;
    }

    &_enable {
      color: #fc5c6c;
    }

    &_limited {
      color: $promo_clr;
    }

    &_disable {
      color: $sub_clr;
    }
  }
}
