@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.price {
  background: $bg_clr;
  height: 100%;
  padding-bottom: 120px;

  @media (max-width: responsive-width(sp)) {
    padding-bottom: 72px;
  }

  &_ttl {
    margin-bottom: 16px;
  }

  &_desc {
    margin-bottom: 32px; // ver 2.0.0
    // ------ 削除予定 ------
    // margin-bottom: 64px;
    // ------ 削除予定 ------
  }

  &_announce {
    display: block;

    font-size: 14px;
    color: $sub_clr;
    text-align: right;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }
}
