rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if "0BiS1MAQ2sMdNeheiijvrwTxOPG3" == request.auth.uid;
    }

    // match /{document=**} {
    //   allow read, write: if request.auth != null;
    // }

    match /companys/{uid} {
      allow read: if request.auth.uid == uid;
    }

    match /persons/{uid} {
      allow read: if request.auth.uid == uid;
    }

    match /customers/{uid} {
      allow read: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /seshub/{id} {
      allow read: if true;
    }

    match /freelanceDirect/{id} {
      allow read: if true;
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
  }
}