@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.table {
  margin-bottom: 24px;

  background: $base_clr;
  width: 100%;
  border-radius: 12px;

  overflow: hidden;
  border-collapse: separate;
  border: 3px solid $bdr_clr;

  font-size: 18px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.8px;

  @media (max-width: responsive-width(sp)) {
    margin-bottom: 16px;
    font-size: 12px;
  }

  thead {
    background: $sub_clr;
    color: $base_clr;

    tr {
      height: 48px;
    }

    th {
      line-height: 48px;
      text-align: center;

      &:not(:last-child) {
        width: 360px;
        border-right: 3px solid $bdr_clr;

        @media (max-width: responsive-width(tb)) {
          width: 240px;
        }

        @media (max-width: responsive-width(sp)) {
          width: 104px;
        }
      }
    }
  }

  tbody {
    tr {
      height: 96px;

      &:not(:first-child) {
        td {
          border-top: 3px solid $bdr_clr;
        }
      }

      &:nth-child(2n) {
        background: $bg_clr;
      }
    }

    td {
      vertical-align: middle;

      &:not(:last-child) {
        border-right: 3px solid $bdr_clr;
      }
    }
  }

  &_price {
    display: block;

    font-size: 24px;
    color: $remove_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 20px;
    }

    &:after {
      content: "(税込)/月〜";
      font-size: 16px;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }

    &_corporate {
      &:after {
        content: "(税込)/3ヶ月〜";
      }
    }
  }

  &_total {
    margin-top: 8px;

    display: block;

    font-size: 16px;
    color: $sub_clr;
    font-weight: normal;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }
}
