// サイト共有の初期設定
@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.entry {
  width: 560px;
  height: 62.5vh;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);

  color: $main_clr;
  background: $base_clr;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 72px 1fr;
  color: $main_clr;

  @media (max-width: responsive-width(sp)) {
    width: calc(100vw - 24px);
    height: 72vh;
    min-height: 520px;
    font-size: 14px;
    grid-template-rows: 48px 1fr;
  }

  &_inner {
    overflow-y: scroll;

    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 16px;

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
    }
  }

  &_head {
    height: 72px;
    padding: 0 32px;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    align-items: center;

    @media (max-width: responsive-width(sp)) {
      height: 48px;
      padding: 0 12px;
    }

    &_cancel {
      color: $acnt_clr;
      line-height: 72px;

      @media (max-width: responsive-width(sp)) {
        line-height: 48px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &_ttl {
      color: $icn_clr;
      text-align: center;
    }
  }

  &_body {
    position: relative;
    padding: 0 32px;

    display: grid;
    grid-template-rows: 1fr 48px;

    @media (max-width: responsive-width(sp)) {
      grid-template-rows: 1fr 40px;
      padding: 0 12px;
    }

    &_value {
      border: 1px solid $bdr_clr;
      width: 100%;
      border-radius: 8px 8px 0 0;
      padding: 16px;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }

    &_btn {
      background: $icn_clr;
      width: 100%;
      border-radius: 0 0 8px 8px;

      color: $base_clr;
      line-height: 48px;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        line-height: 40px;
        font-size: 12px;
      }
    }

    &_pop {
      position: absolute;
      bottom: 56px;
      left: 50%;
      transform: translateX(-50%);

      width: 160px;
      border-radius: 8px;
      border: 1px solid $add_clr;

      color: $add_clr;
      font-size: 14px;
      line-height: 32px;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        bottom: 60px;
        width: 80px;
        font-size: 10px;
        line-height: 24px;
      }
    }
  }

  &_email {
    padding: 0 32px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      padding: 0 12px;
    }

    &_btn {
      background: $acnt_clr;
      width: 100%;
      border-radius: 8px;

      color: $base_clr;
      line-height: 48px;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
        line-height: 40px;
      }
    }

    &_desc {
      font-size: 12px;
      color: $sub_clr;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
      }
    }
  }

  &_sns {
    padding: 0 32px 32px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      padding: 0 12px 24px;
    }

    &_wrap {
      display: flex;
      justify-content: center;
      gap: 16px;
    }

    &_icon {
      color: $sub_clr;
      font-size: 48px;

      @media (max-width: responsive-width(sp)) {
        font-size: 32px;
      }

      &_line {
        color: $acnt_clr;
      }

      &_twitter {
        color: $twitter_clr;
      }

      &_instagram {
        color: $instagram_clr;
      }

      &_linkedIn {
        color: $linkedIn_clr;
      }
    }

    &_disabled {
      pointer-events: none;
    }
  }
}
