// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.menu {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 998;

  @media (max-width: responsive-width(sp)) {
    bottom: 24px;
    right: 12px;
  }

  &_list {
    position: absolute;
    top: 50%;
    right: 56px;
    z-index: -1;
    transform: translateY(-50%);

    background: $base_clr;
    height: 64px;
    border-radius: 32px 0 0 32px;
    border: 1px solid $bdr_clr;
    box-shadow: 1px 0 10px $shdw_clr;

    padding: 0 32px 0 24px;

    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      width: calc(100vw - 40px);
      padding: 0;
      padding-right: 48px;
      padding-left: 16px;
      right: 16px;
      height: 48px;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &_canceled {
      @media (max-width: responsive-width(sp)) {
        width: 216px;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    &_btn {
      height: 64px;
      padding: 0 8px;
      position: relative;

      @media (max-width: responsive-width(sp)) {
        height: 24px;
        padding: 0px;
        width: 100%;
        text-align: center;
      }

      &_home {
        &::before {
          content: "ホーム";
          position: absolute;
          top: -40px;
          left: -12px;
          opacity: 0;

          background: $acnt_clr;
          padding: 4px 12px;
          border-radius: 8px;
          color: $base_clr;
          white-space: nowrap;

          transition: all 0.4s;
          visibility: hidden;
          pointer-events: none;
        }

        &:hover:before {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: responsive-width(sp)) {
          &::before {
            display: none;
          }
        }
      }

      &_seach {
        &::before {
          content: "検索";
          position: absolute;
          top: -40px;
          left: -8px;
          opacity: 0;

          background: $acnt_clr;
          padding: 4px 12px;
          border-radius: 8px;
          color: $base_clr;
          white-space: nowrap;

          transition: all 0.4s;
          visibility: hidden;
          pointer-events: none;
        }

        &:hover:before {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: responsive-width(sp)) {
          &::before {
            display: none;
          }
        }
      }

      &_likes {
        &::before {
          content: "いいね";
          position: absolute;
          top: -40px;
          left: -13px;
          opacity: 0;

          background: $acnt_clr;
          padding: 4px 12px;
          border-radius: 8px;
          color: $base_clr;
          white-space: nowrap;

          transition: all 0.4s;
          visibility: hidden;
          pointer-events: none;
        }

        &:hover:before {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: responsive-width(sp)) {
          &::before {
            display: none;
          }
        }
      }

      &_outputs {
        &::before {
          content: "出力";
          position: absolute;
          top: -40px;
          left: -6px;
          opacity: 0;

          background: $acnt_clr;
          padding: 4px 12px;
          border-radius: 8px;
          color: $base_clr;
          white-space: nowrap;

          transition: all 0.4s;
          visibility: hidden;
          pointer-events: none;
        }

        &:hover:before {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: responsive-width(sp)) {
          &::before {
            display: none;
          }
        }
      }

      &_entries {
        &::before {
          content: "お問い合わせ";
          position: absolute;
          top: -40px;
          left: -36px;
          opacity: 0;

          background: $acnt_clr;
          padding: 4px 12px;
          border-radius: 8px;
          color: $base_clr;
          white-space: nowrap;

          transition: all 0.4s;
          visibility: hidden;
          pointer-events: none;
        }

        &:hover:before {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: responsive-width(sp)) {
          &::before {
            display: none;
          }
        }
      }
    }

    &_icon {
      color: $icn_clr;
      font-size: 32px !important;

      transition: all 0.4s;

      &:hover {
        opacity: 0.8;
      }

      @media (max-width: responsive-width(sp)) {
        font-size: 24px !important;
      }

      &_search {
        color: $acnt_clr;
      }
      &_likes {
        color: $like_clr;
      }
      &_outputs {
        color: $add_clr;
      }
      &_entries {
        color: $acnt_clr;
      }
    }
  }

  &_main {
    background: $acnt_clr;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 1px 0 10px $shdw_clr;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      width: 56px;
      height: 56px;
    }

    &:hover {
      background: $acnt_hvr_clr;
    }

    &_icon {
      font-size: 32px !important;
      color: $base_clr;

      @media (max-width: responsive-width(sp)) {
        font-size: 28px !important;
      }

      &_back {
        margin-left: 11px;

        @media (max-width: responsive-width(sp)) {
          margin-left: 10px;
        }
      }
    }
  }

  &_setting {
    position: absolute;
    bottom: 96px;
    right: 0;

    background: $sub_clr;
    width: 48px;
    height: 48px;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      width: 40px;
      height: 40px;
      bottom: 64px;
    }

    &:hover {
      background: $acnt_clr;
    }

    &_icon {
      color: $base_clr;
      font-size: 32px !important;

      @media (max-width: responsive-width(sp)) {
        font-size: 24px !important;
      }
    }
  }
}
