// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.command {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  border: 1px solid $bdr_clr;
  width: 100%;
  border-radius: 8px;
  padding: 16px;

  @media (max-width: responsive-width(sp)) {
    padding: 12px;
    gap: 12px;
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      gap: 6px;
    }
  }

  &_count {
    font-weight: bold;
    letter-spacing: 0.8px;
  }

  &_icon {
    color: $icn_clr;
  }
}
