// サイト共有の初期設定
@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.side {
  overflow-y: scroll;
  height: calc(var(--vh, 1vh) * 100 - 50px);
  position: relative;

  @media (max-width: responsive-width(tb)) {
    width: 100vw;
    height: auto;
    padding-bottom: 112px;
  }

  @media (max-width: responsive-width(sp)) {
    padding-bottom: 0px;
  }

  &_open {
    width: 100vw;
  }

  &_bests {
    height: $innerHeight;

    @media (max-width: responsive-width(tb)) {
      width: 100vw;
      height: auto;
    }
  }

  &_toggle {
    position: absolute;
    background: $acnt_clr;
    top: auto-clamp(80px, 96px);
    width: 32px;
    height: 64px;
    left: 0;
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &_icon {
      font-size: 32px !important;
      margin-right: 3px;
      color: $base_clr;
      transform: rotate(180deg);

      &_open {
        transform: rotate(0deg);
      }
    }

    @media (max-width: responsive-width(miniPc)) {
      display: none;
    }
  }

  &_sort {
    padding: 32px 32px 0;
    padding-left: auto-clamp(48px, 56px);
    color: $icn_clr;
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    @media (max-width: responsive-width(miniPc)) {
      padding-left: 32px;
    }

    @media (max-width: responsive-width(sp)) {
      padding: 12px 12px 0;
      gap: 12px;
    }

    &_inner {
      width: auto-min(240px);
      position: relative;
      height: 48px;
      background: $base_clr;
      border-radius: 16px;

      @media (max-width: responsive-width(miniPc)) {
        width: 100%;
      }

      @media (max-width: responsive-width(sp)) {
        height: 32px;
      }
    }

    &_select {
      padding: 0 16px;
      height: 48px;
      width: 100%;

      position: absolute;
      z-index: 1;

      @media (max-width: responsive-width(sp)) {
        padding: 0 12px;
        font-size: 12px;
        height: 32px;
      }
    }

    &_icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: $icn_clr;
      font-size: 24px !important;

      @media (max-width: responsive-width(sp)) {
        font-size: 19px !important;
        right: 12px;
      }
    }
  }

  &_list {
    padding: 32px;
    padding-left: auto-clamp(48px, 56px);
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;

    @media (max-width: responsive-width(miniPc)) {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 32px;

      &_open {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: responsive-width(sp)) {
      padding: 12px 12px 104px;
      gap: 12px;
    }

    &_open {
      grid-template-columns: repeat(3, 1fr);
    }

    &_none {
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 49px);
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: responsive-width(tb)) {
        height: 320px;
      }

      &_message {
        font-size: 14px;
        color: $sub_clr;
      }
    }

    &_load {
      display: flex;
      justify-content: center;
      padding-bottom: 32px;

      @media (max-width: responsive-width(miniPc)) {
        padding-bottom: 144px;
      }

      &_none {
        display: none;
      }
    }
  }
}
