// サイト共有の初期設定
@import "../../../../../../../../styles/config";
@import "../../../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  position: relative;

  &_cover {
    width: 100%;
    height: auto-clamp(160px, 240px);
    position: relative;

    @media (max-width: responsive-width(sp)) {
      height: 80px;
    }

    &:after {
      content: "変更";
      display: block;

      width: 100%;
      height: 100%;
      background: $bg_clr;
      opacity: 0.7;

      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 32px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: $icn_clr;
      font-size: 14px;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
      }
    }
  }

  &_icon {
    position: absolute;
    bottom: -48px;
    left: auto-clamp(32px, 48px);
    width: 80px;
    height: 80px;

    @media (max-width: responsive-width(sp)) {
      width: 48px;
      height: 48px;
      bottom: -36px;
      left: 12px;
    }

    &:after {
      content: "変更";
      display: block;
      width: 100%;
      height: 100%;
      background: $bg_clr;
      opacity: 0.7;

      border-radius: 50%;

      position: absolute;
      top: 0;
      left: 0;
      padding: 8px;

      display: flex;
      align-items: flex-end;
      justify-content: center;

      color: $icn_clr;
      font-size: 14px;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
      }
    }
  }
}
