// サイト共有の初期設定
@import 'styles/config';
@import 'styles/function';

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  position: fixed;
  top: 0;
  z-index: 9;

  width: 100vw;

  &_inner {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
  }

  &_logo {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    svg {
      fill: $base_clr;
    }

    svg:first-child {
      min-width: 40px;
      min-height: 40px;
    }

    svg:last-child {
      min-width: 96px;
    }

    span {
      font-size: 14px;
      white-space: nowrap;
    }

    transition: all 0.4s;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: responsive-width(sp)) {
      svg {
        min-width: 34px;
        min-height: 34px;
      }
    }

    &_change {
      svg {
        fill: $promo_clr;
      }

      span {
        color: $promo_clr;
      }
    }
  }

  &_auth {
    display: flex;
    gap: 16px;
  }
}
