// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  position: fixed;
  top: 0;
  z-index: 9;

  width: 100vw;

  &_inner {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
  }

  &_logo {
    width: 40px;
    height: 40px;
    fill: $base_clr;

    transition: all 0.4s;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: responsive-width(sp)) {
      width: 34px;
      height: 34px;
    }

    &_change {
      fill: $promo_clr;
    }
  }

  &_auth {
    display: flex;
    gap: 16px;
  }
}
