// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";
@import "../../styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.list {
  overflow-y: scroll;

  &_tag {
    padding: 32px 0 0 32px;
    font-size: 24px;
    color: $acnt_clr;
    font-weight: bold;
    align-self: flex-start;

    @media (max-width: responsive-width(sp)) {
      padding: 12px 0 0 12px;
      font-size: 16px;
    }
  }
}
