// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.account {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;

  @media (max-width: responsive-width(sp)) {
    gap: 12px;
    margin-bottom: 12px;
  }

  &_btn {
    border: 1px solid $bdr_clr;
    min-width: 72px;
    height: 32px;
    padding: 0 16px;
    border-radius: 16px;
    color: $sub_clr;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      height: 24px;
      font-size: 10px;
      padding: 0 12px;
    }

    &:hover {
      border-color: $acnt_clr;
      color: $acnt_clr;
    }

    &_current {
      pointer-events: none;
      border-color: $acnt_clr;
      background: $acnt_clr;
      color: $base_clr;
    }
  }
}
