@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.option {
  color: $base_clr;
  padding-bottom: 48px;

  &_inner {
    position: relative;
    margin-bottom: 24px;

    background: $add_clr;
    background-size: cover;

    padding: 64px 32px;
    border-radius: 16px;

    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 32px;

    overflow: hidden;

    @media (max-width: responsive-width(tb)) {
      grid-template-columns: 1fr;
    }

    @media (max-width: responsive-width(sp)) {
      border-radius: 0;
      padding: 16px;
    }

    &:after {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      background: $add_clr;

      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
  }

  &_container {
    position: static;
    z-index: 1;

    display: flex;
    flex-direction: column;

    gap: 16px;

    &:last-child {
      width: 320px;

      @media (max-width: responsive-width(tb)) {
        margin: 0 auto;
      }

      @media (max-width: responsive-width(sp)) {
        width: 224px;
      }
    }
  }

  &_wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
    }
  }

  &_ttl {
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: responsive-width(tb)) {
      margin: 0 auto;
    }

    &_pop {
      padding: 4px 8px;
      background: $promo_clr;
      border: 1px solid $promo_clr;
      border-radius: 8px;

      color: $base_clr;
      font-size: 18px;
      font-weight: bold;

      align-self: flex-start;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
        border-radius: 6px;
      }
    }

    &_visual {
      text-align: left;
    }
  }

  &_desc {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;

    @media (max-width: responsive-width(tb)) {
      width: 480px;
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: responsive-width(sp)) {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }
  }

  &_type {
    padding: 8px 12px;
    border: 1px solid $base_clr;
    border-radius: 8px;

    font-size: 18px;
    font-weight: bold;

    @media (max-width: responsive-width(sp)) {
      padding: 6px 10px;
      font-size: 12px;
      border-radius: 6px;
    }
  }

  &_price {
    font-size: 32px;
    font-weight: bold;

    @media (max-width: responsive-width(sp)) {
      font-size: 20px;
    }

    &:after {
      content: "(税込)/月〜";
      font-size: 16px;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }
  }

  &_btn {
    margin-top: 8px;

    border: 1px solid $bdr_clr;
    padding: 16px 32px;
    background: $base_clr;
    border-radius: 26px;

    font-size: 18px;
    color: $add_clr;
    text-align: center;
    font-weight: bold;

    transition: all 0.4s;

    &:hover {
      background: none;
      border-color: $base_clr;
      color: $base_clr;
    }

    @media (max-width: responsive-width(sp)) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }

  &_announce {
    display: block;

    font-size: 14px;
    color: $sub_clr;
    text-align: right;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
      margin-right: 16px;
    }
  }
}
