// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  height: 72px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: responsive-width(sp)) {
    height: 48px;
    padding: 0 12px;
  }

  &_cancel {
    color: $acnt_clr;
    line-height: 72px;

    @media (max-width: responsive-width(sp)) {
      line-height: 48px;
    }

    &:hover {
      opacity: 0.8;
    }

    &_disable {
      color: $sub_clr;
      pointer-events: none;
    }
  }

  &_submit {
    background: $acnt_clr;
    width: 160px;
    height: 40px;
    color: $base_clr;
    border-radius: 20px;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      width: 80px;
      height: 32px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
