@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;

  margin: 0 auto 64px;
  background: $base_clr;
  width: 240px;
  height: 40px;
  padding: 4px;
  border-radius: 20px;
  border: 1px solid $bdr_clr;

  font-size: 14px;

  @media (max-width: responsive-width(sp)) {
    margin-bottom: 48px;
    width: 160px;
    height: 34px;
    padding: 3px;
    border-radius: 17px;
    border: 1px solid $bdr_clr;

    font-size: 10px;
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    cursor: pointer;
    color: $sub_clr;

    transition: all 0.4s;

    &_current {
      background: $promo_clr;
      color: $base_clr;
    }
  }
}
