// サイト共有の初期設定
@import 'styles/config';
@import 'styles/function';

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  height: 72px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: responsive-width(sp)) {
    height: 48px;
    padding: 0 12px;
  }

  &_cancel {
    color: $acnt_clr;
    line-height: 72px;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      line-height: 48px;
    }

    &:hover {
      opacity: 0.8;
    }

    &_disabled {
      color: $sub_clr;
      pointer-events: none;
    }
  }

  &_wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: responsive-width(tb)) {
      gap: 12px;
    }

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
    }
  }

  &_display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    background: $bg_clr;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    padding: 4px;
    border: 1px solid $bdr_clr;

    @media (max-width: responsive-width(sp)) {
      width: 100px;
      height: 28px;
      font-size: 10px;
      padding: 2px;
    }

    input {
      display: none;
    }

    &_disabled {
      opacity: 0.8;
      cursor: not-allowed;

      & > label {
        cursor: not-allowed;
      }
    }

    &_btn {
      cursor: pointer;
      color: $sub_clr;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.4s;
    }

    input:checked + &_btn {
      background: $acnt_clr;
      color: $base_clr;
    }

    input:checked + &_btn_basic {
      background: $acnt_ext_clr;
      color: $base_clr;
    }

    input:checked + &_btn_ai {
      background: $acnt_sub_clr;
      color: $base_clr;
    }
  }

  &_submit {
    background: $acnt_clr;
    width: 160px;
    height: 40px;
    color: $base_clr;
    border-radius: 20px;
    text-align: center;

    transition: all 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: responsive-width(tb)) {
      width: 120px;
    }

    @media (max-width: responsive-width(sp)) {
      width: 64px;
      height: 28px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }
    }
  }
}
