// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";
@import "../../styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.limit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9995;
  width: 100vw;
  height: $innerHeight;
  background: $promo_clr;
  color: $base_clr;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &_resize {
    display: block;
    height: auto;
    overflow-y: scroll;
    padding: 32px 0 48px;
  }

  &_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background: $base_clr;

    border-radius: 16px;
    color: $sub_clr;

    padding: 32px;

    @media (max-width: responsive-width(sp)) {
      padding: 12px;
      font-size: 12px;
    }
  }

  &_acnt {
    color: $remove_clr;
    font-weight: bold;
  }

  &_plan {
    color: $acnt_clr;
    font-weight: bold;
  }

  &_figure {
    position: relative;
    height: 536px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media (max-width: responsive-width(sp)) {
      height: 312px;
      gap: 8px;
    }
  }

  &_ttl {
    font-size: 48px;
    font-weight: bold;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 28px;
    }
  }

  &_desc {
    font-size: 32px;
    font-weight: bold;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px;
    }
  }

  &_img {
    position: absolute;
    z-index: -1;
    top: -120px;

    width: 720px;
    height: auto;

    @media (max-width: responsive-width(sp)) {
      width: 480px;
    }
  }

  &_btn {
    padding: 16px 32px;
    background: $acnt_clr;
    color: $base_clr;
    border-radius: 26px;

    transition: all 0.4s;

    &:hover {
      color: $acnt_clr;
      background: $base_clr;
    }

    @media (max-width: responsive-width(sp)) {
      padding: 12px;
      font-size: 14px;
    }
  }
}
