// サイト共有の初期設定
@import "./config";
@import "./function";

body {
  font-family: sans-serif;
  background: $bg_clr;
  overflow-x: hidden;
}

.fadeIn {
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background: $bg_clr;
    width: 100vw;
    height: $innerHeight;

    animation: fadeIn 0.4s ease-out forwards;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.fadeOut {
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background: $bg_clr;
    width: 100vw;
    height: $innerHeight;

    animation: fadeOut 0.4s ease-out forwards;

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        position: static;
        display: none;
        pointer-events: auto;
      }
    }
  }
}

.lock {
  overflow-y: hidden;
}

.disable {
  width: 100vw;
  height: $innerHeight;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $sub_clr;
}
