// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.application {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);

  color: $main_clr;
  background: $base_clr;
  width: 720px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 72px 1fr;

  @media (max-width: responsive-width(tb)) {
    width: calc(100vw - 24px);
  }

  @media (max-width: responsive-width(sp)) {
    grid-template-rows: 48px 1fr;
    font-size: 12px;
  }
}
