// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.btn {
  border: 1px solid $bdr_clr;
  padding: 16px 32px;
  background: $promo_clr;
  color: $base_clr;
  border-radius: 26px;

  transition: all 0.4s;

  &:hover {
    background: $acnt_clr;
    border-color: $acnt_clr;
  }

  @media (max-width: responsive-width(sp)) {
    padding: 8px 12px;
    font-size: 14px;
  }

  &_square {
    border-radius: 8px;
  }

  &_acnt {
    background: $base_clr;
    color: $promo_clr;

    &:hover {
      background: $acnt_clr;
      border-color: $acnt_clr;
      color: $base_clr;
    }
  }
}
