// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.advertise {
  position: relative;
  background: $promo_clr;
  min-height: 240px;
  height: 100%;
  padding: 48px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  overflow: hidden;

  color: $base_clr;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: responsive-width(sp)) {
    min-height: 160px;
    font-size: 10px;
    gap: 16px;
    padding: 24px;
  }

  &_header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &_ttl {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &_btn {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 66%;

    padding: 16px 32px;
    background: $base_clr;
    border-radius: 26px;

    color: $promo_clr;
    text-align: center;

    transition: all 0.4s;

    &:hover {
      background: $acnt_clr;
      color: $base_clr;
    }

    @media (max-width: responsive-width(tb)) {
      width: 33%;
    }

    @media (max-width: responsive-width(sp)) {
      width: 33%;
      padding: 8px 12px;
      font-size: 12px;
    }
  }

  &_bg {
    position: absolute;
    width: 720px;
    top: -256px;
    right: -96px;
    opacity: 0.8;
  }
}
