// サイト共有の初期設定
@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &_load {
    padding-top: 8px;

    &_icon {
      display: flex;
      justify-content: center;
    }
  }
}
