// サイト共有の初期設定
@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.line {
  padding: 0 32px 32px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: responsive-width(tb)) {
    height: auto;
    padding: 0 32px 32px;
  }

  @media (max-width: responsive-width(sp)) {
    padding: 0 12px 24px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &_tag {
    border-radius: 16px;
    background: $acnt_clr;
    padding: 8px 24px;
    font-size: 20px;
    color: $base_clr;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 14px;
      padding: 4px 12px;
    }

    &_bottom {
      margin-bottom: 12px;
    }
  }

  &_img {
    width: 88%;
    height: auto;
    border-radius: 32px;

    @media (max-width: responsive-width(sp)) {
      width: 100%;
      border-radius: 24px;
    }

    &_small {
      width: 75%;
      border-radius: 0;
    }
  }

  &_desc {
    color: $sub_clr;

    &_acnt {
      color: $acnt_clr;
      font-weight: bold;
    }
  }
}
