// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.section {
  width: 100vw;

  &_inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;

    &_content {
      max-width: 1080px;
    }
  }

  &_ttl {
    font-size: auto-clamp(48px, 64px);

    color: $promo_clr;
    font-weight: bold;
    text-align: center;

    @media (max-width: responsive-width(sp)) {
      font-size: 32px;
    }

    &_sub {
      font-size: auto-clamp(32px, 48px);

      color: $main_clr;
      font-weight: bold;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        font-size: 24px;
      }
    }
  }

  &_desc {
    text-align: center;
    color: $sub_clr;
  }
}
