// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.main {
  margin: 16px 0 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: responsive-width(tb)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: responsive-width(sp)) {
    grid-template-columns: repeat(1, 1fr);
    margin: 12px 0 12px;
    gap: 24px;
  }

  &_container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    border: 1px solid $bdr_clr;
    border-radius: 8px;
    padding: 24px 16px 24px 32px;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      padding: 24px 12px 24px 24px;
    }

    &_name:after {
      content: "項目";
      display: block;
      position: absolute;
      top: -8px;
      padding: 0 16px;
      color: $icn_clr;
      left: 16px;
      background: $base_clr;

      @media (max-width: responsive-width(sp)) {
        top: -7px;
        left: 12px;
        padding: 0 12px;
        font-size: 12px;
      }
    }

    &_sort:after {
      content: "区分";
      display: block;
      position: absolute;
      top: -8px;
      padding: 0 16px;
      color: $icn_clr;
      left: 16px;
      background: $base_clr;

      @media (max-width: responsive-width(sp)) {
        top: -7px;
        left: 12px;
        padding: 0 12px;
        font-size: 12px;
      }
    }

    &_span:after {
      content: "期間";
      display: block;
      position: absolute;
      top: -8px;
      padding: 0 16px;
      color: $icn_clr;
      left: 16px;
      background: $base_clr;

      @media (max-width: responsive-width(sp)) {
        top: -7px;
        left: 12px;
        padding: 0 12px;
        font-size: 12px;
      }
    }

    &_extension:after {
      content: "拡張子";
      display: block;
      position: absolute;
      top: -8px;
      padding: 0 16px;
      color: $icn_clr;
      left: 16px;
      background: $base_clr;

      @media (max-width: responsive-width(sp)) {
        top: -7px;
        left: 12px;
        padding: 0 12px;
        font-size: 12px;
      }
    }

    &_error {
      border-color: $remove_clr;

      &:after {
        color: $remove_clr;
      }
    }
  }

  &_input {
    display: none;

    &_label {
      position: relative;
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid $sign_clr;
        border-radius: 100%;
        opacity: 0.6;

        transition: all 0.12s, border-color 0.08s;

        @media (max-width: responsive-width(sp)) {
          width: 13px;
          height: 13px;
        }
      }

      &_error:before {
        border-color: $remove_clr;
      }
    }

    &:checked + &_label:before {
      border-color: $acnt_clr;
      background-color: $acnt_clr;
      box-shadow: inset 0 0 0 3px $base_clr;

      @media (max-width: responsive-width(sp)) {
        box-shadow: inset 0 0 0 2px $base_clr;
      }
    }
  }

  &_btn {
    position: absolute;
    top: -20px;
    right: 8px;

    white-space: pre;
    color: $acnt_clr;
    font-size: 12px;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }

    &_cancel {
      color: $sub_clr;
    }
  }

  &_error {
    white-space: pre;
    color: $remove_clr;
    font-size: 12px;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }
  &_desc {
    white-space: pre;
    color: $sub_clr;
    font-size: 12px;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }
}
