// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.pay {
  background: $base_clr;
  color: $main_clr;
  letter-spacing: 0.4px;

  &_inner {
    margin: 0 auto;
    width: 720px;
    min-height: $innerHeight;

    padding: 24px 0 48px;

    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: responsive-width(tb)) {
      width: 100vw;
      margin: 0;
      padding: 24px 12px 48px;
    }

    @media (max-width: responsive-width(sp)) {
      padding: 16px 12px 32px;
      gap: 32px;
    }

    &_load {
      align-items: center;
      justify-content: center;
    }
  }
}
