@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.can {
  background: $bg_clr;
  height: 100%;
  padding-bottom: 120px;

  @media (max-width: responsive-width(tb)) {
    padding-bottom: 72px;
  }

  @media (max-width: responsive-width(sp)) {
    padding-bottom: 48px;
  }

  &_container {
    display: flex;
    justify-content: space-between;

    &:nth-child(odd) {
      flex-direction: row-reverse;

      @media (max-width: responsive-width(tb)) {
        flex-direction: column-reverse;
      }
    }

    @media (max-width: responsive-width(tb)) {
      grid-template-columns: 1fr;
      flex-direction: column-reverse;
      align-items: center;

      margin-bottom: 48px;
    }

    @media (max-width: responsive-width(sp)) {
      margin-bottom: 32px;
    }
  }

  &_cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @media (max-width: responsive-width(tb)) {
      text-align: center;
    }

    &_ttl {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.6;

      @media (max-width: responsive-width(sp)) {
        font-size: 20px;
      }
    }

    &_desc {
      line-height: 1.6;
    }
  }

  &_visual {
    width: 480px;

    @media (max-width: responsive-width(sp)) {
      width: 400px;
    }

    &_img {
      width: 100%;
    }
  }

  &_search {
    @media (max-width: responsive-width(sp)) {
      width: 360px;
    }
  }
  &_matching {
    @media (max-width: responsive-width(tb)) {
      width: 560px;
      padding-right: 72px;
    }
    @media (max-width: responsive-width(sp)) {
      width: 440px;
      padding-right: 48px;
    }
  }
}
