// サイト共有の初期設定
@import "../../../../../../../../styles/config";
@import "../../../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.profile {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: responsive-width(sp)) {
    gap: 16px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
      gap: 8px;
    }
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &_field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &_icon {
    color: $sub_clr;
    margin-top: 1px;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
      margin-top: 0;
    }
  }

  &_payment {
    align-self: flex-start;
    background: $promo_clr;
    color: $base_clr;
    padding: 6px 12px;
    border-radius: 8px;

    font-size: 14px;

    @media (max-width: responsive-width(sp)) {
      padding: 5px 8px 4px;
      border-radius: 6px;
      font-size: 10px;
    }

    &_active {
      background: $acnt_clr;
    }

    &_trialing {
      background: $add_clr;
    }

    &_option {
      background: $add_clr;
    }
  }

  &_person {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px;
    }
  }

  &_name {
    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }

  &_body {
    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }

  &_address {
    color: $sub_clr;
  }

  &_postal {
    margin-right: 8px;
  }

  &_link {
    color: $link_clr;
  }

  &_createAt {
    display: flex;
    gap: 8px;
    color: $sub_clr;
  }

  &_sns {
    display: flex;
    gap: 16px;

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
    }

    &_icon {
      color: $sub_clr;
      font-size: 40px;

      @media (max-width: responsive-width(sp)) {
        font-size: 32px;
      }

      &_line {
        color: $acnt_clr;
      }

      &_twitter {
        color: $twitter_clr;
      }

      &_instagram {
        color: $instagram_clr;
      }

      &_linkedIn {
        color: $linkedIn_clr;
      }
    }

    &_disabled {
      pointer-events: none;
    }
  }
}
