// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.main {
  background: $base_clr;
  position: relative;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: responsive-width(tb)) {
    width: 100vw;
  }

  &_load {
    width: 100%;
    height: $innerHeight;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 72px 0;
  }

  &_inner {
    position: relative;
    padding: auto-clamp(72px, 80px) auto-clamp(32px, 48px)
      auto-clamp(20px, 28px);

    @media (max-width: responsive-width(sp)) {
      padding: 56px 12px 12px;
    }
  }

  &_header {
    height: auto-clamp(160px, 320px);
    position: relative;

    @media (max-width: responsive-width(sp)) {
      height: 80px;
    }

    &_icon {
      position: absolute;
      bottom: -56px;
      left: auto-clamp(32px, 48px);
      width: 80px;
      height: 80px;

      @media (max-width: responsive-width(sp)) {
        width: 56px;
        height: 56px;
        bottom: -44px;
        left: 12px;
      }
    }
  }

  &_edit {
    position: absolute;
    top: auto-clamp(16px, 24px);
    right: 32px;

    display: flex;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      top: 12px;
      right: 12px;
    }

    &_btn {
      padding: 0 16px 1px;
      color: $acnt_clr;
      border: 1px solid $acnt_clr;
      border-radius: 20px;
      height: 40px;
      font-size: 14px;
      transition: all 0.4s;

      @media (max-width: responsive-width(sp)) {
        padding: 0 12px;
        font-size: 10px;
        height: 32px;
      }

      &:hover {
        background: $acnt_clr;
        color: $base_clr;
      }

      &_account {
        color: $sub_clr;
        border-color: $sub_clr;

        &:hover {
          background: none;
          color: $sub_clr;
          opacity: 0.7;
        }
      }
    }
  }
}
