// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.main {
  padding-top: 0;

  & > :not(:last-child) {
    padding-top: 24px;
    border-top: 1px solid $bdr_clr;

    @media (max-width: responsive-width(sp)) {
      padding-top: 12px;
    }
  }

  &_col {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_center {
      align-items: center;
    }
  }

  &_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_tag {
    color: $icn_clr;
  }

  &_value {
    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &_id {
      position: relative;
      align-self: flex-start;
      color: $sub_clr;

      &:hover {
        color: $link_clr;
      }
    }

    &_time {
      color: $sub_clr;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }

    &_copy {
      &:after {
        content: "コピーしました";

        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        background: $link_clr;
        color: $base_clr;
        border-radius: 6px;
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        font-size: 12px;

        @media (max-width: responsive-width(sp)) {
          top: -29px;
        }
      }
    }
  }

  &_desc {
    font-size: 12px;
    color: $sub_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }

  &_btn {
    border: 1px solid $acnt_clr;
    border-radius: 16px;
    padding: 0px 16px;
    height: 32px;
    transition: all 0.4s;

    font-size: 14px;
    color: $acnt_clr;

    @media (max-width: responsive-width(sp)) {
      padding: 0px 12px;
      height: 24px;

      font-size: 10px;
    }

    &_delete {
      color: $remove_clr;
      font-size: 14px;

      transition: all 0.4s;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &_disabled {
      color: $sub_clr;
      border-color: $sub_clr;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &_link {
    color: $sub_clr;
    font-size: 14px;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
