// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: $base_clr;

  width: 100%;
  border-bottom: 1px solid $bdr_clr;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  @media (max-width: responsive-width(sp)) {
    gap: 8px;
  }

  &_container {
    padding: 16px 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (max-width: responsive-width(sp)) {
      padding: 16px 12px 0;
      gap: 12px;
    }

    &_none {
      display: none;
    }
  }

  &_icon {
    width: 48px;
    height: 48px;

    @media (max-width: responsive-width(sp)) {
      width: 32px;
      height: 32px;
    }
  }

  &_wrap {
    width: 100%;
  }

  &_back {
    position: static;
    width: 720px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 72px 1fr 72px;
    height: 72px;
    border: none;

    @media (max-width: responsive-width(tb)) {
      width: 100vw;
      margin: 0;
      padding: 0 12px;
    }

    @media (max-width: responsive-width(sp)) {
      height: 48px;
      font-size: 14px;
    }

    &_cancel {
      color: $acnt_clr;
      line-height: 72px;

      @media (max-width: responsive-width(sp)) {
        line-height: 48px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &_ttl {
      line-height: 72px;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        line-height: 48px;
      }
    }
  }
}
