// サイト共有の初期設定
@import "../../../../../../../styles/config";
@import "../../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  @media (max-width: responsive-width(sp)) {
    flex-direction: column;
    font-size: 10px;
    gap: 4px;
  }

  &_time {
    color: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }

  &_user {
    display: flex;
    gap: 4px;

    color: $sub_clr;

    &_person {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &_name {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
