// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.fv {
  // background: $promo_clr;
  width: 100vw;
  height: auto-clamp(880px, 1200px);
  position: relative;

  @media (max-width: responsive-width(sp)) {
    height: 592px;
  }

  &_inner {
    max-width: 1280px;
    height: auto-clamp(800px, 1280px);

    padding: 72px 16px 0;
    margin: 0 auto;

    position: relative;
  }

  &:after {
    display: block;
    content: "";

    background: $bg_clr;
    width: 150%;
    height: 200%;

    position: absolute;
    top: auto-clamp(720px, 880px);
    right: 0px;

    transform: rotate(8.75deg);

    @media (max-width: responsive-width(sp)) {
      top: 520px;
    }
  }

  &_head {
    position: relative;
    z-index: 1;
    margin-top: auto-clamp(80px, 240px);

    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: responsive-width(sp)) {
      margin-top: 48px;
      gap: 16px;
    }

    &_main {
      font-size: auto-clamp(48px, 64px);
      font-weight: bold;

      @media (max-width: responsive-width(sp)) {
        font-size: 32px;
      }
    }

    &_copy {
      font-size: auto-clamp(16px, 20px);
      color: $bdr_clr;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }

    &_txt {
      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }

    &_btn {
      display: flex;
      gap: 16px;
    }
  }

  &_footer {
    position: absolute;
    top: auto-clamp(312px, 496px);
    right: 0;

    @media (max-width: responsive-width(tb)) {
      right: -192px;
    }

    @media (max-width: responsive-width(sp)) {
      top: 272px;
      right: -128px;
    }

    &_img {
      width: auto-clamp(1040px, 1280px);
      height: auto;

      animation-name: fadeOut;
      animation-duration: 0.7s;
      animation-timing-function: ease-out;

      @keyframes fadeIn {
        0% {
          transform: translateY(100%);
          opacity: 0;
        }

        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @media (max-width: responsive-width(sp)) {
        width: 720px;
      }
    }
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto-clamp(880px, 1200px);
    z-index: -1;
  }
}
