// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.activity {
  width: 560px;
  height: 62.5vh;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);

  color: $main_clr;
  background: $base_clr;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 72px 1fr;
  color: $main_clr;

  @media (max-width: responsive-width(sp)) {
    width: calc(100vw - 24px);
    height: 72vh;
    min-height: 520px;
    font-size: 14px;
    grid-template-rows: 48px 1fr;
  }

  &_inner {
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px 32px;

    @media (max-width: responsive-width(sp)) {
      gap: 12px;
      padding: 0 12px 12px;
    }
  }
}
