// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.csv {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  border: 1px solid $bdr_clr;
  border-radius: 8px;
  padding: 24px 16px;

  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: responsive-width(sp)) {
    padding: 24px 12px;
    gap: 12px;
  }
}
