// サイト共有の初期設定
@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 0 32px 32px;

  @media (max-width: responsive-width(sp)) {
    padding: 0 12px 12px;
  }

  &_head {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
    }

    &_ttl {
      color: $icn_clr;
      font-size: 24px;
      text-align: center;

      @media (max-width: responsive-width(sp)) {
        font-size: 16px;
      }
    }

    &_desc {
      color: $sub_clr;
      font-size: 14px;
      text-align: center;
      line-height: 1.4;

      @media (max-width: responsive-width(sp)) {
        font-size: 12px;
      }
    }
  }

  &_input {
    background: $base_clr;
    border: 1px solid $bdr_clr;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 8px 16px;

    @media (max-width: responsive-width(sp)) {
      height: 40px;
      padding: 4px 12px;
    }

    &_error {
      border: 1px solid $remove_clr;
    }

    &::placeholder {
      color: $sub_clr;
      opacity: 0.6;
    }
  }

  &_error {
    display: block;
    white-space: pre;
    color: $remove_clr;
    font-size: 12px;
    margin-top: 8px;

    @media (max-width: responsive-width(sp)) {
      margin-top: 4px;
      font-size: 10px;
    }
  }

  &_btn {
    background: $acnt_clr;
    width: 100%;
    height: 48px;
    border-radius: 8px;

    color: $base_clr;
    text-align: center;
    line-height: 48px;

    transition: all 0.4s;

    @media (max-width: responsive-width(sp)) {
      margin-top: 16px;
      height: 40px;
      line-height: 40px;
    }

    &_delete {
      background: $remove_clr;
    }

    &_disable {
      background: $sub_clr;
      pointer-events: none;
    }
  }
}
