// サイト共有の初期設定
@import "styles/config";
@import "styles/function";
@import "styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.setting {
  color: $main_clr;
  background: $base_clr;
  width: 100vw;
  min-height: $innerHeight;
  position: relative;

  display: grid;
  grid-template-rows: 72px 1fr;
  align-items: center;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &_main {
    align-items: flex-start;
  }

  @media (max-width: responsive-width(sp)) {
    grid-template-rows: 48px 1fr;
  }

  &_inner {
    width: 720px;
    overflow-y: scroll;
    margin: 0 auto;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    @media (max-width: responsive-width(tb)) {
      width: 100vw;
      margin: 0;
      padding: 24px 12px;
    }

    @media (max-width: responsive-width(sp)) {
      gap: 12px;
      font-size: 14px;
    }
  }

  &_btn {
    background: $acnt_clr;
    width: 100%;
    height: 48px;
    border-radius: 8px;

    transition: all 0.4s;

    color: $base_clr;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: responsive-width(sp)) {
      margin-top: 16px;
      height: 40px;
    }

    &_logout {
      background: $sub_clr;
    }

    &_delete {
      background: $remove_clr;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
