@import "../../../../../../styles/config";
@import "../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.item {
  background: $base_clr;
  width: 100%;
  height: 100%;
  padding: 24px 32px;
  border-radius: 16px;
  font-size: 14px;

  @media (max-width: responsive-width(sp)) {
    padding: 20px 16px;
  }

  &_position {
    display: inline-block;
    background: $icn_clr;
    color: $base_clr;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;

    @media (max-width: responsive-width(sp)) {
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 10px;
    }
  }

  &_tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 12px 0;

    @media (max-width: responsive-width(sp)) {
      padding: 8px 0;
    }

    &_tag {
      background: $acnt_clr;
      color: $base_clr;
      padding: 6px 12px;
      border-radius: 12px;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;

      @media (max-width: responsive-width(sp)) {
        padding: 4px 8px;
        font-size: 10px;
      }
    }
  }

  &_ttl {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 24px;

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
      margin-bottom: 16px;
    }

    &_txt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: auto-clamp(20px, 24px);
      font-weight: bold;

      @media (max-width: responsive-width(sp)) {
        font-size: 14px;
      }
    }
  }

  &_container {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 16px;
    margin-bottom: 24px;

    @media (max-width: responsive-width(sp)) {
      grid-template-columns: 110px auto;
      gap: 8px;
      margin-bottom: 12px;
    }

    &_resources {
      grid-template-columns: 200px auto;

      @media (max-width: responsive-width(sp)) {
        grid-template-columns: 144px auto;
      }
    }
  }

  &_side {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
      gap: 4px;
    }
  }

  &_wrap {
    display: flex;
    gap: 8px;
  }

  &_field {
    display: flex;
    align-items: center;
  }

  &_body {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid $bdr_clr;
    padding: 16px;
    border-radius: 8px;
    position: relative;

    @media (max-width: responsive-width(sp)) {
      padding: 16px 12px;
    }

    &_txt {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
        -webkit-line-clamp: 5;
      }
    }

    &:after {
      content: "案件詳細";
      display: block;
      position: absolute;
      top: -8px;
      padding: 0 16px;
      color: $icn_clr;
      left: 16px;
      background: $base_clr;

      @media (max-width: responsive-width(sp)) {
        top: -5px;
        left: 12px;
        padding: 0 12px;
        font-size: 10px;
      }
    }
  }

  &_icon {
    color: $sub_clr;
    font-size: 14px !important;
  }

  &_time {
    color: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }
}
