// サイト共有の初期設定
@import "../../../../styles/config";
@import "../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.form {
  color: $main_clr;
  background: $base_clr;
  position: relative;
  width: auto-clamp(632px, 1440px);
  height: 80vh;
  border-radius: 16px;
  display: grid;

  @media (max-width: responsive-width(tb)) {
    width: 100vw;
    height: $innerHeight;
    border-radius: 0px;
  }

  @media (max-width: responsive-width(sp)) {
    font-size: 12px;
  }
}
