// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.profile {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: responsive-width(sp)) {
    gap: 16px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid $bdr_clr;

    @media (max-width: responsive-width(sp)) {
      padding-bottom: 16px;
      font-size: 12px;
      gap: 8px;
    }

    &:last-child {
      border: none;
      padding: 0;
    }

    &_dev {
      border: none;
      padding: 0;

      &_border {
        border-bottom: 1px solid $bdr_clr;
      }
    }
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &_col {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_url {
      gap: 16px;

      @media (max-width: responsive-width(sp)) {
        gap: 8px;
      }
    }
  }

  &_array {
    background: $acnt_clr;
    color: $base_clr;
    height: 28px;
    padding: 0 12px;
    border-radius: 16px;

    @media (max-width: responsive-width(sp)) {
      padding: 0 8px;
      height: 20px;
    }

    &_tools {
      background: $sub_clr;
    }

    &_txt {
      line-height: 28px;
      font-size: 14px;

      @media (max-width: responsive-width(sp)) {
        line-height: 20px;
        font-size: 10px;
      }
    }
  }

  &_tag {
    align-self: flex-start;
    display: inline-block;
    padding: 0 8px;
    border-radius: 8px;
    line-height: 24px;
    font-size: 12px;
    color: $base_clr;
    background: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      line-height: 20px;
      border-radius: 6px;
      font-size: 10px;
    }
  }

  &_field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &_icon {
    color: $sub_clr;
    margin-top: 1px;

    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
      margin-top: 0;
    }
  }

  &_name {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px;
      max-width: auto-max(240px);
    }
  }

  &_category {
    display: inline-block;
    padding: 0 8px;
    border-radius: 8px;
    line-height: 24px;
    font-size: 12px;
    color: $base_clr;
    background: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      line-height: 20px;
      border-radius: 6px;
      font-size: 10px;
    }

    &_acnt {
      background: $acnt_ext_clr;
    }

    &_disable {
      background: $sub_clr;
    }

    &_hurry {
      background: $remove_clr;
    }
  }

  &_body {
    @media (max-width: responsive-width(sp)) {
      font-size: 12px;
    }
  }

  &_file {
    background: $bg_clr;
    width: 33%;
    height: 160px;

    border-radius: 10px;
    border: 1px solid $bdr_clr;

    color: $icn_clr;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    @media (max-width: responsive-width(sp)) {
      width: 50%;
      height: 120px;
    }

    &_none {
      pointer-events: none;
      user-select: none;
    }

    &_icon {
      color: $remove_clr;
      font-size: 48px;

      &_none {
        filter: blur(4px);
      }

      @media (max-width: responsive-width(sp)) {
        font-size: 36px;
      }
    }
  }

  &_desc {
    color: $sub_clr;
  }

  &_link {
    color: $link_clr;

    &_dummy {
      filter: blur(3px);
      pointer-events: none;
      user-select: none;
    }
  }

  &_dummy {
    filter: blur(3px);
    user-select: none;
  }

  &_createAt {
    display: flex;
    gap: 8px;
    color: $sub_clr;
  }
}
