// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";
@import "../../styles/animation";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.promotion {
  overflow-x: hidden;

  color: $base_clr;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &_main {
    position: sticky;
    color: $main_clr;
  }

  @media (max-width: responsive-width(sp)) {
    font-size: 12px;
  }
}

span {
  display: inline-block;
}
