// サイト共有の初期設定
@import "../../../../../../../styles/config";
@import "../../../../../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.menu {
  position: fixed;
  bottom: 32px;
  z-index: 99;
  right: 32px;

  display: flex;
  align-items: flex-end;
  gap: 16px;

  @media (max-width: responsive-width(sp)) {
    gap: 12px;
    bottom: 24px;
    right: 12px;
  }

  &_btn {
    background: $add_clr;
    padding: 0 16px;
    height: 48px;
    border-radius: 32px;
    color: $base_clr;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @media (max-width: responsive-width(sp)) {
      padding: 0 12px;
      height: 40px;
      font-size: 12px;
    }

    &_icon {
      font-size: 32px !important;

      @media (max-width: responsive-width(sp)) {
        font-size: 16px !important;
      }
    }

    &_close {
      background: $sub_clr;
      padding: 0 16px;
      height: 48px;
      color: $base_clr;
      border-radius: 24px;

      @media (max-width: responsive-width(sp)) {
        padding: 0 12px;
        height: 32px;
      }
    }
  }

  &_pop {
    position: absolute;
    width: 64px;
    text-align: center;
    line-height: 32px;
    top: -40px;
    right: 0;
    background: $acnt_clr;
    color: $base_clr;
    border-radius: 16px;
    font-size: 14px;

    @media (max-width: responsive-width(sp)) {
      width: 48px;
      text-align: center;
      line-height: 32px;
      top: -40px;
      border-radius: 16px;
      font-size: 10px;
    }
  }
}
