// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  height: 72px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  align-items: center;

  @media (max-width: responsive-width(sp)) {
    height: 48px;
    padding: 0 12px;
  }

  &_user {
    grid-template-columns: 1fr auto 1fr;

    @media (max-width: responsive-width(tb)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &_setting {
    grid-template-columns: 1fr auto 1fr;
  }

  &_cancel {
    color: $acnt_clr;
    line-height: 72px;

    @media (max-width: responsive-width(sp)) {
      line-height: 48px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &_ttl {
    color: $icn_clr;
    text-align: center;

    @media (max-width: responsive-width(tb)) {
      display: none;
    }

    &_setting {
      display: block;
    }
  }

  &_command {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
}
