// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.view {
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  @media (max-width: responsive-width(sp)) {
    padding: 12px;
    gap: 12px;
  }

  &_ttl {
    color: $icn_clr;
  }

  &_count {
    font-size: auto-clamp(32px, 40px);
    font-weight: bold;
    letter-spacing: 0.8px;

    @media (max-width: responsive-width(sp)) {
      font-size: 32px;
    }
  }
}
