// サイト共有の初期設定
@import 'styles/config';
@import 'styles/function';

// ページのレスポンシブ設定
$width: responsive-width(pc);

.header {
  display: grid;
  grid-template-columns: 48px 1fr 120px;
  align-items: center;
  gap: 16px;

  @media (max-width: responsive-width(sp)) {
    grid-template-columns: 40px 1fr 96px;
    gap: 12px;
  }

  &_persons {
    grid-template-columns: 48px 1fr;

    @media (max-width: responsive-width(sp)) {
      grid-template-columns: 40px 1fr;
    }
  }

  &_icon {
    min-width: 48px;
    height: 48px;
    border-radius: 50%;

    @media (max-width: responsive-width(sp)) {
      min-width: 40px;
      height: 40px;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_wrap {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 8px;
  }

  &_ttl {
    max-width: auto-max(320px);
    font-size: auto-clamp(20px, 24px);
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;

    @media (max-width: responsive-width(sp)) {
      font-size: 16px;
      max-width: 240px;
    }

    &_dummy {
      filter: blur(5px);
      pointer-events: none;
      user-select: none;
    }
  }

  &_category {
    display: inline-block;
    padding: 0 8px;
    border-radius: 8px;
    line-height: 24px;
    font-size: 12px;
    background: $promo_clr;
    color: $base_clr;
    white-space: nowrap;

    @media (max-width: responsive-width(sp)) {
      line-height: 20px;
      border-radius: 6px;
      font-size: 10px;
    }

    &_active {
      background: $acnt_clr;
    }

    &_trialing {
      background: $add_clr;
    }

    &_disable {
      background: $sub_clr;
    }

    &_hurry {
      background: $remove_clr;
    }
  }

  &_tag {
    color: $sub_clr;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: responsive-width(sp)) {
      width: auto-max(180px);
    }

    &_dummy {
      filter: blur(5px);
      pointer-events: none;
      user-select: none;
    }
  }
}
