// サイト共有の初期設定
@import "../../../styles/config";
@import "../../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.list {
  width: 100vw;
  padding: 32px;

  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: responsive-width(miniPc)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: responsive-width(tb)) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: responsive-width(sp)) {
    padding: 12px 12px 104px;
    gap: 12px;
  }

  &_scroll {
    overflow-y: scroll;
  }

  &_companys {
    width: auto;
    padding-left: auto-clamp(48px, 56px);
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: responsive-width(miniPc)) {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 32px;

      &_open {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: responsive-width(sp)) {
      padding: 12px 12px 104px;
      gap: 12px;
    }

    &_open {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_select {
    width: auto;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;

    & > div:not(:last-child) {
      border-bottom: 1px solid $bdr_clr;
    }
  }

  &_none {
    width: 100%;
    height: calc(100vh - 129px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: responsive-width(sp)) {
      height: calc(100vh - 89px);
    }

    &_message {
      font-size: 14px;
      color: $sub_clr;
    }

    &_type {
      height: calc(100vh - 49px);

      @media (max-width: responsive-width(sp)) {
        height: calc(100vh - 33px);
      }
    }

    &_select {
      height: 100%;
    }
  }

  &_load {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;

    @media (max-width: responsive-width(tb)) {
      padding-bottom: 144px;
    }

    &_none {
      display: none;
    }
  }
}
