// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border: 1px solid $bdr_clr;
  width: 100%;
  border-radius: 8px;
  padding: 16px;

  @media (max-width: responsive-width(sp)) {
    padding: 12px;
    gap: 6px;
  }

  &_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &_position {
    display: inline-block;
    background: $icn_clr;
    color: $base_clr;
    padding: 6px 12px;
    border-radius: 8px;

    @media (max-width: responsive-width(sp)) {
      padding: 4px 8px;
      border-radius: 6px;
    }

    &_txt {
      font-size: 14px;

      @media (max-width: responsive-width(sp)) {
        font-size: 10px;
      }
    }
  }

  &_time {
    font-size: 14px;
    color: $icn_clr;

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }

  &_tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @media (max-width: responsive-width(sp)) {
      gap: 8px;
    }

    &_tag {
      background: $acnt_clr;
      color: $base_clr;
      padding: 6px 12px;
      border-radius: 12px;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: responsive-width(sp)) {
        padding: 4px 8px;
      }

      &_txt {
        font-size: 12px;

        @media (max-width: responsive-width(sp)) {
          font-size: 10px;
        }
      }
    }
  }

  &_ttl {
    width: 100%;
    margin: 8px 0;

    @media (max-width: responsive-width(sp)) {
      margin: 6px 0;
    }

    &_txt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: auto-clamp(18px, 20px);
      font-weight: bold;

      @media (max-width: responsive-width(sp)) {
        font-size: 16px;
      }
    }
  }

  &_link {
    font-size: 14px;
    color: $sub_clr;
    transition: all 0.4s;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: responsive-width(sp)) {
      font-size: 10px;
    }
  }
}
