// サイト共有の初期設定
@import "../../styles/config";
@import "../../styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.post {
  color: $main_clr;
  height: $innerHeight;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: responsive-width(tb)) {
    height: auto;
    grid-template-columns: 1fr;
  }
}
