// サイト共有の初期設定
@import "styles/config";
@import "styles/function";

// ページのレスポンシブ設定
$width: responsive-width(pc);

.btn {
  position: relative;
  background: $acnt_clr;
  width: 100%;
  height: 64px;
  border-radius: 16px;

  color: $base_clr;
  text-align: center;
  line-height: 48px;

  transition: all 0.4s;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: responsive-width(sp)) {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }

  &_icon {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;

    @media (max-width: responsive-width(sp)) {
      width: 20px;
      height: 20px;
      right: 18px;
    }
  }

  &_load {
    pointer-events: none;
    opacity: 0.8;
  }

  &_disable {
    background: $sub_clr;
    pointer-events: none;
  }
}
